.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    width: 100%;
    border: none;
    background-color: #e7e7e7;
    font-size: 18px;
    padding: 20px;
  }

  button {
    background-color: #e7e7e7;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 20px;
  }
}
i {
  color: white;
}
