@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


@mixin size-l {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

@mixin size-lm {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}


@mixin size-m {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

@mixin size-s {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}